.card {
  border: solid 1px #ea702b;

  width: 247px;
  height: 202px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__picture {
  border-radius: 12px;
  height: auto;
  margin-top: 10%;
  width: 90%;
}
.card__description {
  font-size: 0.75rem;
  width: 55%;
  font-family: "Karla-Light";
}
.card__price-level {
  display: flex;
  gap: 5%;
  align-self: flex-start;
}
.card__price-level-label {
  margin-top: 0px;
}
